@{
    ViewData["Title"] = "Home Page";
}

@section styles{
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/styleHome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Maven+Pro:500' rel='stylesheet' type='text/css'>

	<script src="~/js/home.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!--arrow-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="~/script.js"></script>
}


<div class="main">
	<div class="menu"></div>
	<div class="menu-button"></div>

	<!--aulus verus vento nomad-->
	<div class="header"> verus </div>
</div>


<!-- Arrow down scroller-->
<section class="main">
    <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
    </a>
  <div class="content" id="content">
    <div class="desc1"> Log in and </div>
    <div class="desc2">  start</div>
	<div class="desc3"> your journey</div>
  </div>
</section>

<!--3 Cards - Login Register Discover-->
<div class="containerCards">
    <div class="card">
        <a href="/Error">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>Login</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Log into your existing account to view movies.</p>
                    <a href="#">Login</a>
            </div>
        </div>
        </a>
    </div>
    <div class="card">
        <a href="/Error">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Register</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Create an account to start logging.</p>
                <a onclick="location.href = 'Register'">Register</a>
            </div>
        </div>
        </a>
    </div>
    <div class="card">
        <a href="/Error">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Discover</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Look at popular and new releases as a guest.</p>
                <a onclick="location.href = '/Movie/Discover'">Discover</a>
            </div>
        </div>
        </a>
    </div>
</div>
