@{
    ViewData["Title"] = "Register Page";
}
@section styles{
	<link href="~/css/style.css" rel="stylesheet"><link href="~/css/styleRegister.css" rel="stylesheet">

	<script src="https://codepen.io/juliangarnier/pen/REyzrR/75efae7724dbc3c055e918057fc4aca5.js"></script>
	<script src="~/js/registerAnimation.js"></script>
}

<div class="register">
	<h1>Register</h1>
	<form method="post">
		<input class="userInput" type="text" name="Username" placeholder="Username" required="required"/>
		<input class="email" type="text" name="Email" placeholder="Email" required="required"/>

		<input class="pwInput" type="password" name="Password" placeholder="Password" required="required"/>
		<input class="pwConf" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="required"/>

		<button type="submit" class="registerButton">Create Account.</button>
	</form>
</div>

<div class="wrapperAnim" style="height:100vh"></div>

	