@{
    ViewData["Title"] = "Home Page";
}
@section styles{
    <link href="~/css/styleMoviesNoBS.css" rel="stylesheet">
}

<main class="app">
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
</main>
<main class="app2">
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
</main>
<main class="app3">
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
  <div class="green"></div>
</main>
