@using MovieManager.Services
@using MovieManager.Models.DataModels
@{
	ViewData["Title"] = "A Page";
	//Add MovieViewModel
	//fix Route: Movies/MovieCard&id=78
	var movieObj = GetFromDB.GetMovieFromDBbyID(78);

}
@section styles{
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/styleMovieCard.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}

<div class="MovieCard" >
	<div class="flex-container">
	   <div class="flex-items">	
		   <img class="moviePoster" alt="Image" src="@movieObj.PosterUrl"> 	
		</div>
	   <div class="flex-items">
		<h2 class="movieTitle">	@movieObj.Title </h2>
		<!--RATING-->
		<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movieObj.Rating/10 - Rating</p>
		<p class="movieDesc"> @movieObj.Overview </p>
		<div class="buttonsList">
			<input class="TrailerButton" id="TrailerButton" type="button" value="▶ Trailer" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Watched Movies" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Current Movies" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Watchlist" onclick=""><br/>
		</div>
		</div>
	</div>
</div>