@model MovieListViewModel
@{
	ViewData["Title"] = "Playlist";
	var movieList = Model.MoviesList;
}
@section styles{
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/style.css" asp-append-version="true"  rel="stylesheet">
	<link href="~/css/styleMovieContainer.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleDiscover.css" asp-append-version="true" rel="stylesheet">

	<script src="~/js/home.js"></script>
	<script src="~/js/releaseGrid.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<div class="container mb-3 mt-3"">
	<div class="btn-holder">
		<button class="btn btn-2 hover-slide-down">
			<span>Grid</span>
		  </button>
		  <button class="btn btn-2 hover-slide-up">
			<span>List</span>
		</button>
	</div>
</div>

<div class="grid-container ContainerListScroll scrollbar scrollbar-black bordered-black square thin"style="height: 750px;">
<div class="row">
	@foreach (var movie in movieList)
	{
	<div class="col-12 col-md-6 col-lg-4">
	<div class="card">
		<div class="movieContainer">
			<div class="flex-container leftCol">
				<div class="flex-items">	
					<a href="/Movie/MovieCard/@movie.MovieId">
						<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 
					</a>
				</div>
				<div class="flex-itemsRight">
					<h2 class="movieTitle"> @movie.Title </h2>
					<p class="movieRating"> Rating - @movie.Rating/10</p>
					<p class="movieDesc"> @movie.Overview </p>
					<div class="buttonsList">
						<input class="TrailerButton" id="TrailerButton" type="button" value="▶ Trailer" onclick=""><br>
						<input class="TrailerButton" id="TrailerButton" type="button" value="Add to " href="/Movie/MovieCard/@movie.MovieId">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	}	  
</div>
</div>