@{
    ViewData["Title"] = "Playlist";
    var movieList = MovieManager.Services.GetFromDbService.GetListFromDBbyTitle("Superman");

}
@section styles{
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleDiscover.css" asp-append-version="true" rel="stylesheet">

	<script src="~/js/home.js"></script>
	<script src="~/js/discoverGrid.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}

<div class="container mb-3 mt-3"">
	<div class="btn-holder">
		<button class="btn btn-2 hover-slide-down">
			<span>Grid</span>
		  </button>
		  <button class="btn btn-2 hover-slide-up">
			<span>List</span>
		</button>
	</div>
</div>

<div class="container grid-container ContainerListScroll scrollbar scrollbar-black bordered-black square thin"style="height: 750px;">
	@foreach(var movie in movieList){
		<div class="row">
		  <div class="col-12 col-md-6 col-lg-4">
			<div class="card">
				<a href="/Movie/MovieCard/@movie.MovieId">
					<img class="card-img-top" src="@movie.PosterUrl" alt="Card image cap">
				</a>
			  <div class="card-body">
				<h3 class="card-title">@movie.Title</h3>
				<p class="card-text">@movie.Overview</p>
			  </div>
			</div>
		  </div>
		</div>
	}
</div>