@using MovieManager.Views.Movie
@model SearchResultViewModel
@{
    ViewData["Title"] = "Search";
}
@section styles{
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/js/particles.js"></script>
	<script src="~/js/app.js"></script>
}
<head>
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleSearch.css" asp-append-version="true" rel="stylesheet">
</head>



<section class="skewedBoxDiscover">
	<h1 class="middleTextSkew">Explore Movies & TV shows</h1>

	<form class="SearchMovie" method="post">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm">
    </div>
	</form>

</section>

<div class="bgContainer"> 
	<h1 class="discoverTitle1" onclick="location.href = '/Discover/Movies'">DISCOVER MOVIES</h1>	
</div>	
<div class="bgContainer">
	<h1 class="discoverTitle2" onclick="location.href = '/Discover/Shows'">DISCOVER SHOWS </h1>
</div>