@{
    ViewData["Title"] = "Home Page";
}
@section styles{
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/styleSearch.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/js/particles.js"></script>
	<script src="~/js/app.js"></script>
}

<section class="skewedBoxDiscover">
<!--here sideways?-->
<form class="SearchShow" onSubmit={} id="search">
	<input type="search" placeholder="Search for a show..." />
</form>
<h1 class="middleTextSkew">Explore Movies & TV shows</h1>
<form class="SearchMovie" onSubmit={} id="search">
	<input type="search" placeholder="Search for a movie..." />
</form>
</section>

<div class="bgContainer1"> 
	<h1 class="discoverTitle1">DISCOVER SHOWS</h1>	
</div>
			
<div class="bgContainer1">
	<h1 class="discoverTitle2">DISCOVER MOVIES</h1>
<!--SEARCH MOVIE IN discover movie triangle-->
</div>

<!-- particles.js container -->
<div id="particles-js"></div>