*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-bg-gray);
}
h1 {
    text-align: center;
    align-content: center;
    justify-content: center;
    color: var(--dark-peach);
    padding-top: 100px;
}
.profileImage{
    border-radius: 10px;
    position: fixed;
    margin-left: 40px;
    margin-top: 40px;
}
.desc{
    margin-top: 30px;
}
.profileDesc {
    color: aliceblue;
    margin-left: 190px;
}
.smallContainer{
    padding-bottom: 100px;
}
.smallTitle{
    margin-top: 20px;
    color: aliceblue;
}
.smallList {
    color: aliceblue;
}


.app {
    position: fixed;
    top: 14%;
    left: 0%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: visible;
    width: 33%;
    height: 86%;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 0px;
    display: grid;
    grid-row-gap: 20px;
}
.app > .horizontal {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(5, 40%);
    overflow-x: scroll;
    height: 15vh;
}

.app2 {
    position: fixed;
    top: 20%;
    left: 33%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: visible;
    width: 33%;
    height: 86%;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 0px;
    display: grid;
    grid-row-gap: 20px;
}
.app2 > .horizontal {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(40, 40%);
    overflow-x: scroll;
    height: 15vh;
}

.app3 {
    position: fixed;
    top: 14%;
    right: -2%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 34%;
    height: 86%;
    padding-right: 30px;
    padding-top: 0px;
    display: grid;
    grid-row-gap: 20px;
    z-index:-1;
}
.app3 > .horizontal {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(40, 40%);
    overflow-x: scroll;
    height: 15vh;
    overflow-y: hidden;
}

.green {
    background: #34495E;
    height: 26vh;
}
.blue {
    background: #49afdd;
    background: #34495E;
}
.block {
    border-radius: 2px;
}


.app::-webkit-scrollbar {
    display: none;
}
.app2::-webkit-scrollbar {
    display: none;
}
.app3::-webkit-scrollbar {
    display: none;
}
.app > .horizontal::-webkit-scrollbar {
    display: none;
}
.app2 > .horizontal::-webkit-scrollbar {
    display: none;
}
.app3 > .horizontal::-webkit-scrollbar {
    display: none;
}
.noUnderline {
    overflow: hidden;
    text-decoration: none !important;
    text-decoration-line: none !important;
    color: var(--dark-peach);
}