
  body{
    z-index: 10;
    background-color: var(--main-bg-dark-gray) !important;
  }

.card {
    margin-bottom: 1rem;
    background-color: var(--main-bg-gray) !important;
    border-radius: 0px !important;
  }
  .card-img-top{
    border-radius: 0px !important;
    height: 300px;
    width: 350px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    overflow: visible !important;
  }
  h3{
    color:var(--main-bg-orange) !important;
  }
  p{
      color: var(--p-text-whiteblue) !important;
      height: 150px;
      overflow: hidden;
  }
  
  .skewedBoxDiscover2{
    background: var(--movie-container-bg);
    clip-path: polygon(6% 100%, 44% 100%, 100% 50%,100% 6%);
    top:0%;
    position: fixed;
    z-index: -11;  
    /*background: linear-gradient(-45deg, #ff0f7b,#ff930f,#ff8989,#ffa585,#f9b16e, #ef709b);*/
    background: linear-gradient(-45deg, var(--dark-peach) 40%, white 60%);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100vh;
    width: 100vw;
    z-index: -10;
  }

.bgReleases {
    background: #090d13 !important;
    top: 0%;
    left: 0%;
    position: fixed;
    z-index: -12;
    height: 100vh;
    width: 100vw;
}


  .list-view .row > [class*=col-] {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .list-view .card {
    flex-direction: row;
  }
  @media (max-width: 575.98px) {
    .list-view .card {
      flex-direction: column;
    }
  }
  .list-view .card > .card-img-top {
    width: auto;
  }
  .list-view .card .card-body {
    display: inline-block;
  }


  /*SIZING OF ELEMENTS HERE*/
  div.ContainerListScroll {
    margin:2px, 2px;
    padding:0px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    height: 90vh !important;
    position: fixed;
    top: 10%;
    justify-content: center;
    align-content: center;
    left:16%;
    right:16%;
  }

  /*move buttons*/
  .mb-3{
    position: fixed;
    left:20%;
    top:0%;
    z-index: 200;
  }

  * {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
 
  :active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn-holder {
    display: fixed;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    margin: 0px 0px;
  }
  .btn {
    position: fixed;
    top: 0%;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--bg-white) !important;
    margin-right: 0px !important;
    cursor: pointer;
    margin: 0px 0px 0px;
    min-width: 180px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 10px 10px;
      transition: 0.3s;
    }
  

  
  /*--- btn-2 ---*/
  .btn-2::before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
    
  }
  .btn-2 span {
    color: var(--bg-white);
    transition: 0.2s;
  }  
  .btn-2 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }
  
  /* hover-slide-down */
  .hover-slide-down{
    left:15%;
  }
  .btn.hover-slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .btn.hover-slide-down:hover::before {
    height: 100%;
  }
  
  /*  hover-slide-up */
  .btn.hover-slide-up{
    right:15%;
  }

  .btn.hover-slide-up::before {
    bottom: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .btn.hover-slide-up:hover::before {
    height: 100%;
  }
  


  #particles-js{
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.4;
  }