body {
    z-index: 10;
    background-color: var(--main-bg-dark-gray) !important;
}

.card {
    margin-bottom: 1.5rem;
    background-color: var(--main-bg-gray) !important;
    border-radius: 0px !important;
    width: 100% !important;
}
.card-img-top {
    border-radius: 0px !important;
    overflow: visible !important;
}
.flex-container{
    width: 100% !important;
    padding: 0 !important;
    left: 0%;
    padding-left: 0;
    margin: 0 !important;
    margin-left: 0;
    align-content: center !important;
    justify-content: left !important;
}
.flex-items {
    justify-content: center !important;
    align-content: center !important;
    left: 0;
    right: 0;
}

.leftCol {
}
.movieContainer{
    width: 100% !important;
}

/* MOVIE CARD STYLE */
.moviePoster {
    width: 270px;
    margin-right: 15%;
    margin-left: 0 !important;
    padding-left: 0 !important;
    align-content: center !important;
    justify-content: center !important;
    left: 0% !important;
    height: 100%;
    overflow: hidden;
}
.movieTitle {
    font-size: 30px;
    height: 90px;
    padding-top: 16px;
    align-content: center;
    text-align: center;
    color: var(--main-bg-orange);
    padding-top: 10px;
    margin: 0 !important;
}
.movieDesc {
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: #dcdcff;
    font-weight: lighter;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 196px;
    overflow: hidden;
}
.movieRating {
    font-size: 22px;
    text-align: center !important;
    height: 45px;
    padding: 0 !important;
    margin: 0 !important;
}
.IMDBStar {
    width: 16px;
    height: 20px;
    padding-bottom: 4px;
}
.addMovie {
    height: 100%;
    margin-left: 85px;
}





  .list-view .row > [class*=col-] {
    max-width: 80%;
    padding-left: 20%;
    flex: 0 0 100%;
  }
  .list-view .card {
    flex-direction: row;
  }
  @media (max-width: 575.98px) {
    .list-view .card {
      flex-direction: column;
    }
  }
  .list-view .card > .card-img-top {
    width: auto;
  }
  .list-view .card .card-body {
    display: inline-block;
  }


  /*SIZING OF ELEMENTS HERE*/
  div.ContainerListScroll {
    margin:2px, 2px;
    padding:0px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 90vw !important;
    height: 90vh !important;
    position: fixed;
    top: 10%;

    justify-content: center;
    align-content: center;
    left:5%;
    right:10%;
  }

  /*move buttons*/
  .mb-3{
    position: fixed;
    left:20%;
    top:0%;
    z-index: 200;
  }
  * {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  :active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  



  .btn-holder {
    display: fixed;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 0px 0px;
  }
  .btn {
    position: fixed;
    top: 0%;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--bg-white) !important;
    margin-right: 0px !important;
    cursor: pointer;
    margin: 0px 0px 0px;
  }
  .btn span {         
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 10px 10px;
    transition: 0.3s;
  }

  /*--- btn-2 ---*/
.btn2 {
    position: fixed;
    top: 0%;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--bg-white) !important;
    margin-right: 0px !important;
    cursor: pointer;
    margin: 0px 0px 0px;
}
  .btn-2::before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-out;
  }
  .btn-2 span {
    color: var(--bg-white);
    transition: 0.2s;
  }  
  .btn-2 span:hover {
    color: rgb(0, 0, 0);
    transition: 0.2s 0.1s;
  }
  
  /* hover-slide-down */
  .hover-slide-down{
    left:15%;
  }
  .btn.hover-slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .btn.hover-slide-down:hover::before {
    height: 100%;
  }
  
  /*  hover-slide-up */
  .btn.hover-slide-up{
    right:15%;
  }

  .btn.hover-slide-up::before {
    bottom: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
  }
  .btn.hover-slide-up:hover::before {
    height: 100%;
  }