@import url(https://allfont.net/allfont.css?fonts=roboto-bold);
/*SCROLLABLE CONTAINER */
.LeftColumn{
  position: fixed;
  left:8%;
  top:10%;
  width: 26%;
  z-index: 100;
}

.MiddleColumn{
  position: fixed;
  left:37%;
  top:10%;
  width: 26%;
  z-index: 100;
}

.RightColumn{
  position: fixed;
  right: 8%;
  top:10%;
  width: 26%;
  z-index: 100;
}

div.MovieListLeftScroll {
  margin:2px, 2px;
  padding:0px;
  background-color: rgba(0, 0, 0,0);
  width: 500px;
  height: 810px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:center;
  position:relative;
  width:100%;
  height:8%;
  text-align:center;
  justify-content:last baseline;
}
/*
position: fixed;
left:40%;
*/
div.MovieListMiddleScroll {
  margin:2px, 2px;
  padding:0px;
  background-color: rgba(0, 0, 0,0);
  width: 500px;
  height: 810px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:center;
  position:relative;
  width:100%;
  height:8%;
  text-align:center;
  justify-content:last baseline;
}
div.MovieListRightScroll {
  margin:2px, 2px;
  padding:0px;
  background-color: rgba(0, 0, 0,0);
  width: 500px;
  height: 810px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:center;
  position:relative;
  width:100%;
  height:8%;
  text-align:center;
  justify-content:last baseline;
}


/* ADD MOVIE BUTTON UNDER COL*/
.addMovie1{
  width: 240px; 
  height: 240px;
  margin: 40px;
}



/*SCROLLABLE CONTAINER COLORS */
div.col-md-6 {
  background: rgb(19,23,29);
  /*rgb
  (3,27,52) - dark blue
  (4,44,85) - blue
    */
  font-family: 'Roboto', sans-serif;
  color: #eee; /*font clr*/
}

/*movie containers*/
.LeftMovie1{ 
  padding: 0; 
}
.LeftMovie2{   
  padding: 0;  
}
.LeftMovie3{   
  padding: 0; 
}

.MiddleMovie1{ 
  padding: 0;  
}
.MiddleMovie2{  
  padding: 0; 
}
.MiddleMovie3{  
  padding: 0; 
}

.RightMovie1{   
  padding: 0;  
}
.RightMovie2{ 
  padding: 0;  
}
.RightMovie3{  
  padding: 0;   
}

/*REMOVE BUTTONS PER COLUMN*/

/*BUTTON ANIMATIONS*/
.LeftMovieRemove {
  appearance: none;
  background-color: rgb(160, 32, 32);
  /*rgb(19,23,29)*/
  border: 1px solid #000000;
  border-radius: 0px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}
.LeftMovieRemove:disabled {
  pointer-events: none;
}
.LeftMovieRemove:hover {
  color: #fff;
  background-color: #e43b3b;
  transform: translateY(-2px);
}
.LeftMovieRemove:active {
  box-shadow: none;
  transform: translateY(0);
}

/*MIDDLE REMOVE BUTTON - danger-outline*/
.MiddleMovieRemove {
  appearance: none;
  background-color: rgb(19,23,29);
  /*rgb(19,23,29)*/
  border: 1px solid #ff0000;
  border-radius: 0px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}
.MiddleMovieRemove:disabled {
  pointer-events: none;
}
.MiddleMovieRemove:hover {
  color: #fff;
  background-color: #e43b3b;
  transform: translateY(-2px);
}
.MiddleMovieRemove:active {
  box-shadow: none;
  transform: translateY(0);
}


.RightMovieRemove {
  appearance: none;
  background-color: rgb(35, 93, 50);
  /*rgb(19,23,29)*/
  border: 1px solid #000000;
  border-radius: 0px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}
.RightMovieRemove:disabled {
  pointer-events: none;
}
.RightMovieRemove:hover {
  color: #fff;
  background-color: rgb(30, 134, 56);
  transform: translateY(-2px);
}
.RightMovieRemove:active {
  box-shadow: none;
  transform: translateY(0);
}



.TrailerButton {
  appearance: none;
  background-color: rgb(0, 111, 214);
  /*rgb(19,23,29)*/
  border: 1px solid #000000;
  border-radius: 0px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.TrailerButton:disabled {
  pointer-events: none;
}

.TrailerButton:hover {
  color: #fff;
  background-color: rgb(3, 60, 114);
  transform: translateY(-2px);
}

.TrailerButton:active {
  box-shadow: none;
  transform: translateY(0);
}




.progress-bar{
  width: 200%;
}


/*MOVE TO STYLE MOVIES*/
.movieTitle{
  padding-top: 16px;
  color:var(--main-bg-orange)
}
.movieDesc{
  text-align: center;
  color: #dcdcff;
  /*
  (97,199,179)-cyan 
  (220,220,255)- bluewhite
  */
  font-weight: lighter;
}

.movieRating{
  font-size: 22px;
  text-align: center;
}
.IMDBStar{
  width:16px;
  height:20px;
  padding-bottom: 4px;
}
