@import url(https://allfont.net/allfont.css?fonts=roboto-bold);
@import url(https://allfont.net/allfont.css?fonts=roboto);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&display=swap');

html { overflow-y: scroll !important; } 

::-webkit-scrollbar {
  display: none;
}

body {
    width: 100vw !important;
    background: var(--main-bg-dark-gray) !important;
    top: 0%;
    position: absolute;
    overflow-y: scroll !important;
    z-index: 0;
}

/* TITLE FIRST PART */
.header {
    font-size: 20vw;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    font-family: "Anton", sans-serif !important;
    padding-top: 0px;
    top: 12%;
    left: 27% !important;
    height: 30vw !important;
    width: 100vw;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw-o.png"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw6-o.png"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/tw5-o.png");
    background-color: var(--dark-peach);
    background-size: 25vw auto, 25vw auto, 20vw auto;
    background-repeat: repeat-x;
    background-position: 0px 15%, 200px 25%, -50px 2vw;
    z-index: 10;
}


.menu {
  width: 100vw;
  overflow-y: visible;
  height: 100vh;
  left: 0%;
  background-color: var(--main-bg-gray);
  -webkit-clip-path: circle(0px at 50px 50px);
  clip-path: circle(0px at 50% 50%);
  transition: 1.5s;
  z-index: 2000;
}
.menu-button {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 80vw;
  height: 45vh !important;
  background-color: transparent;
  border-radius: 0%;
  z-index: 100; /*navbar z is 100*/
}
.menu ~ .header {
  transition: all 2s ease;
  background-color: var(--dark-peach);
  background-position: 0px 15%, 150px 5%, -50px 2vw;
}
.menu-active {
  -webkit-clip-path: circle(65% at center);
  clip-path: circle(65% at center);
}
.menu-active ~ .header {
  transition: all 2s ease;
  background-color: var(--egg-shell);
  background-position: -240px 15%, 260px 5%, -150px 1vw;
}
.menu ~ .desc{
  color:var(--egg-shell);
  transition: all 2s ease;
}
.menu-active ~ .desc{
  color:var(--dark-peach);
  transition: all 2s ease;
}


/* ARROW */

section {
  float:left;
  width:100%;
  height: 20%;
  top: 85% !important;
  background:var(--dark-peach);
  position:absolute;
  box-shadow:0 0 25px 20px #000;
  z-index: 100 !important;
}

.desc1 {
    position: absolute;
    z-index: 120;
    font: Roboto-bold;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    top: 50% !important;
    left: 16%;
    width: 20vw;
    height: 50px !important;
    color: white;
    text-align: center;
    align-content: center;
}
.desc2 {
    position: absolute;
    z-index: 120;
    font: Roboto-bold;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    top: 50% !important;
    left: 35%;
    width: 30vw;
    height: 50px !important;
    color: white;
    text-align: center;
    align-content: center;
}
.desc3 {
    position: absolute;
    z-index: 120;
    font: Roboto-bold;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    top: 50% !important;
    right: 10%;
    width: 33vw;
    height: 50px !important;
    color: white;
    text-align: center;
    align-content: center;
}


.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}
.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.hint {
    position: absolute;
    top: 0.6em;
    width: 100%;
    left: 0;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    color: #fff;
    opacity: 0;
}
.arrow-wrap:hover .hint {
  opacity:1;
}

  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}


/* 3 CARDS LOGIN REGISTER DISCOVER */
.containerCards {
    position: absolute;
    top: 120%;
    left: 20%;
    z-index: 100;
    width: 60vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.containerCards .card{
    position:center;
    cursor: pointer;
}
.containerCards .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.containerCards .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.containerCards .card:hover .face.face1{
    background: var(--dark-peach);
    transform: translateY(0);
}
.containerCards .card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
}
.containerCards .card:hover .face.face1 .content{
    opacity: 1;
}
.containerCards .card .face.face1 .content img{
    max-width: 100px;
}
.containerCards .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.containerCards .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    transform: translateY(-100px);
}
.containerCards .card:hover .face.face2{
    transform: translateY(0);
}

.containerCards .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.containerCards .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.containerCards .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.noUnderline {
    overflow: hidden;
    text-decoration: none !important;
    text-decoration-line: none !important;
}