@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");


body, html {
  background-color:var(--main-bg-gray) ;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin-left: 5%;
    order: 0;
}



/*MOVIE CARD STYLES*/
.MovieCard {
    position: fixed;
    top: 20%;
    right: 12%;
    width: 50vw;
    background-color: var(--main-bg-dark-gray);
}
.moviePoster {
    width: 20vw !important;
    margin-left: 15%;
    margin-right: 15%;
    height: 100% !important;
}
.moviePosterBig {
    width: 400px !important;
    margin-left: 10%;
    margin-right: 20%;
    height: 100% !important;
}
.movieTitle {
    font-size: 40px;
    padding-top: 10px;
    color: var(--main-bg-orange);
    margin: 16px;
}
.movieDesc {
    position: relative;
    text-align: center;
    align-content: center;
    justify-content: center;
    left: 20%;
    color: #dcdcff;
    font-weight: lighter;
    width: 60%;
    height: 48% !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.movieRating{
  font-size: 22px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.movieDate {
    font-size: 22px;
    text-align: center;
    width: 100px;
    height: 22px;
    overflow: hidden;
    margin: 0;
    margin-left: 220px;
    padding: 0;
}
.IMDBStar{
  width:16px;
  height:20px;
}



.buttonsList{
  text-align: center;
  margin-top: 10px;
}
.TrailerButton {
  appearance: none;
  background-color: rgb(30, 70, 109);
  border: 1px solid #000000;
  height: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 80%;
}
.TrailerButton:hover {
  color: #fff;
  background-color: rgb(3, 60, 114);
  transform: translateY(-2px);
}
