@import url(https://allfont.net/allfont.css?fonts=roboto-bold);
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Black&display=swap');

html { overflow-y: scroll !important; } 

::-webkit-scrollbar {
  display: none;
}

body {
    background: var(--main-bg-dark-gray) !important;
    top: 0%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100vh !important;
}
h1{
  color:var(--dark-peach) !important;
}
.bgimg{
  background-image: url('../img/rabehd.png') !important;
  position: fixed;
  top:70%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* FORM ALIGN */
* {
   -webkit-box-sizing:border-box; 
   -moz-box-sizing:border-box; 
   -ms-box-sizing:border-box; 
   -o-box-sizing:border-box; 
   box-sizing:border-box; 
  }

.register {
    position: fixed;
    top: 32%;
    left: 30%;
    align-content: center;
    border: none;
    text-align: center;
    width: 40vw;
    height: 70vh;
    z-index: 100;
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.9);
    font-family: Roboto !important;
    font: Roboto-bold !important;
    font-weight: bold;
    border: none !important;
    outline: none !important;
    padding: 10px;
    border-radius: 0px;
    font-size: 13px;
    color: #fff;
}

.registerButton {
    position: relative;
    background-color: #e26961 !important;
    width: 40vw !important;
    height: 40px !important;
    color: white !important;
    font-family: Roboto !important;
    font-weight: bold;
    border: none;
}

/* animation ids */
.wrapperAnim {
    position: fixed;
    left: 50% !important;
    z-index: 1;
}

.el {
    position: absolute;
    opacity: 1;
    width: 2px !important;
    height: 24vh !important;
    margin-top: -38vh;
    transform-origin: 30% 140%;
    background: white;
    z-index: 0;
}