@import url(https://allfont.net/allfont.css?fonts=roboto-bold);
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");

body{
  background-color: var(--main-bg-dark-gray) !important;
  z-index: -10;
}
h1{
  font-family: monospace, sans-serif;
}

.middleTextSkew{
  width: 500px;
  align-items: left;
  text-align: left;
  line-height: 60px;
  position: fixed;
  font-family: Roboto;
  left:32%;
  top: 5%;
  padding-left: 100px;
  font-size: 64px;
  z-index: 10;
}

.discoverTitle1{
  position: fixed;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold; 
  font-size: 60px;
  top: 20%;
  left: 10%;
  padding-top: 50px;
  padding-left: 20px !important;
  width:40vw;
  height: 7vh;
  text-align: left;
  color: #ffffff;
  background-color: var(--dark-peach);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
  z-index: 100;
  align-content: center;

}
.discoverTitle2{
  position: fixed;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold; 
  font-size: 60px;
  top: 50%;
  right: 10%;
  padding-top: 50px;
  padding-right: 20px !important;
  width:40vw;
  height: 7vh;
  text-align: right;
  color: #ffffff;
  background-color: var(--dark-peach);
  clip-path: polygon(100% 100%, 100% 0%, 50% 0%, 0% 100%);
  z-index: 100;
}

.skewedBoxDiscover{
  position:fixed;
  top: 20%;
  left: -5%;
  background: transparent;
  padding: 20px 55%;
  height: 40vw;
  width: 0vw;
  transform: skew(0deg, -20deg);
  z-index: 10;
}


/*SEARCH BAR WITH EXPAND ANIMATION*/
.SearchMovie {
  align-items: center;
  width: 100%;
  padding-top: 15px;
  position: fixed;
  left:30px;
  top:270px;
  display: flex;
  justify-content: center;
  pointer-events: none;
  z-index: -10;
}
.SearchMovie input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 50px;
  width: 100%;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  border: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border 0.25s ease, width 0.125s ease 0.125s, transform 0.125s ease 0.125s;
}
.SearchMovie input:focus {
  border: 3px solid var(--dark-peach);
  width: 300%;
  transform: translateX(-33%);
}



#particles-js{
  position: fixed;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.4;
}