.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    overflow: hidden !important;
}

.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin-left: 2%;
    order: 0;
}
/* Search Result Containers */
.resultsLeft {
    position: absolute;
    top: 8%;
    left: 0%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 18%;
    height: 200%;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 20px;
    display: grid;
    grid-row-gap: 40px;
    z-index: 100;
}
.resultsLeft > .horizontal {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(5, 40%);
    overflow-x: scroll;
     height: 15vh;
}
.resultsRight {
    position: absolute;
    top: 8%;
    right: -5%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 18%;
    height: 200%;
    padding-right: 30px;
    padding-left: 150px;
    padding-top: 20px;
    display: grid;
    grid-row-gap: 40px;
    z-index: 100;
}
.resultsRight > .horizontal {
    display: grid;
    grid-gap: calc(20px / 2);
    grid-template-columns: repeat(5, 40%);
    overflow-x: scroll;
     height: 15vh;
}


.movieContainer {
    background: var(--main-bg-dark-gray);
    height: 30vh;
    width: 60%;
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.6), 0.2rem 0.2rem 1rem rgb(0 0 0 / 0.8), 0.4rem 0.4rem 4rem rgb(0 0 0 / 1);
    overflow: hidden !important;
    z-index: -1 !important;
}
.moviePoster {
    width: 100% !important;
    margin-left: 0% !important;
    overflow: hidden;
}
.moviePoster:hover {
    opacity: 0;
}

.roleTitle {
    position: absolute;
    font-size: 24px;
    height: 10% !important;
    width: 35% !important;
    padding-left: 20px !important;
    padding-top: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center !important;
    overflow: hidden !important;
    overflow-block:hidden;
    text-decoration: none !important;
    text-decoration-line: none !important;
    z-index: -1;
}
.roleTitle:link{
    text-decoration: none !important;
}




/* CONTAINER SCROLL BARS*/
#scrollBlackThin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--main-bg-dark-gray);
}

#scrollBlackThin::-webkit-scrollbar {
    width: 6px;
    background-color: var(--main-bg-dark-gray);
}

#scrollBlackThin::-webkit-scrollbar-thumb {
    background-color: white;
    z-index: 10;
}
