@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");


body, html {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position:relative;
  background-size: cover;
  background-position: center;
  font-family: "Rajdhani", arial;
  font-weight: bolder;
}

.info
{
  position:relative;
  width:100%;
  height:4%;
  text-align:center;
  justify-content:last baseline;
  padding:0px;
  border-radius: 2px;
  overflow:hidden;
  color:var(--main-bg-dark-gray);
  background-color:hsl(0, 0%, 96%);
}
.hidden-info
{
  height:100%;
  width:100%;
  position:absolute;
  text-align:center;
  left:-150%;
  top:0;
  padding:0px;
  color:#fff;
  background-color:var(--main-bg-dark-gray);
  transition:all ease 1s;
}
.info:hover .hidden-info
{
  left:0%;
  margin:auto;
  transition:all ease 1s;
}




