<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MovieManager</title>

	<link href="~/css/styleNavbar.css" asp-append-version="true" rel="stylesheet"/>
	<link href="~/plugins/toastr/toastr.min.css" rel="stylesheet"/>
</head>


<body>
    <header>
    <nav>
		<ol class="main-menu">
			<li onclick="location.href = '/Home/Index'" class="main-item" ><span class="home"></span></li>
		  
			<partial name="_LoginPartial" /> <!--The login/register navbar fields are in  loginPartial-->

			<li class="main-item"><span class="discover"></span>
				<ol class="sub-menu">
				  <li onclick="location.href = '/Movie/Search'" class="sub-item item-right"><span class="DiscShows"></span></li>
				  <li onclick="location.href = '/Movie/Releases'" class="sub-item item-right"><span class="DiscMovies"></span></li>
				  <li onclick="location.href = '/Movie/Discover'" class="sub-item item-right"><span class="DiscMisc"></span></li>
				  <li onclick="location.href = '/Movie/Latest'" class="sub-item item-right"><span class="DiscLatest"></span></li>
				  <li onclick="location.href = '/Movie/TopRated'" class="sub-item item-right"><span class="DiscTopRated"></span></li>
				</ol>
			</li>

			<li class="main-item"><span class="more"></span>
				<ol class="sub-menu">
					<li onclick="location.href = '/About/About'" class="sub-item item-right"><span class="About"></span></li>
					<li onclick="location.href = '/About/Privacy'" class="sub-item item-right"><span class="Privacy"></span></li>
				</ol>
			</li>		
		</ol>

	</nav>
    </header>
	<!--ADD SEARCH ICON-->
	<img class="searchIcon" src="~/img/search.png"  onclick="location.href = '/Movie/Search'">
	<partial name="_LogoutPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	<script src="~/plugins/toastr/toastr.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<partial name="_UserMessages" />


    @await RenderSectionAsync("scripts", required: false)
	@await RenderSectionAsync("styles", required: false)
</body>
</html>
