@using Microsoft.AspNetCore.Identity
@using MovieManager.Data.DataModels
@using MovieManager.Infrastructure.Extensions;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager  


@if (SignInManager.IsSignedIn(User))
{
<li onclick="location.href = '/Movie/Main'" class="main-item"><span class="myprofile"></span></li>
<li class="main-item"><span class="watchlist"></span>
	<ol class="sub-menu">
		<li onclick="location.href = '/Movie/MovieList'" class="sub-item item-left"><span class="WLWatched"></span></li>
		<li onclick="location.href = '/Movie/MovieList&name="watched"'" class="sub-item item-left"><span class="WLCurrent"></span></li>
		<li onclick="location.href = '/Movie/MoviesFuture'" class="sub-item item-left"><span class="WLToWatch"></span></li>
	</ol>
</li>
}
else
{
	<li asp-area="Identity" onclick="location.href = '/Identity/Account/Login'" class="main-item"><span class="login"></span></li>
	<li asp-area="Identity" onclick="location.href = '/Identity/Account/Register'" class="main-item"><span class="register"></span></li>
}