@using Microsoft.AspNetCore.Identity
@using MovieManager.Data.DataModels
@using MovieManager.Infrastructure.Extensions;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager  

@section styles{
	<link href="~/css/styleNavbar.css" asp-append-version="true" rel="stylesheet">
}
<!-- Logout button - needs css fixing -->
@if (SignInManager.IsSignedIn(User))
{
<div class="navbarContainer">
   
    <div class="wrap">
       <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
    </div>

    <form class="buttonHolder" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button class="logoutButton" type="submit" > <img src="~/img/logout.webp" width="40" height="40"></button>
    </form>

</div>
}