@model TrailerViewModel
<head>
    <link href="~/css/styleTrailerPartial.css" asp-append-version="true" rel="stylesheet"/>
</head>
<a href="#@Model.TrailerId" id="button">Trailer</a>

<div id="@Model.TrailerId" class="target-content">
  <a href="#" class="close"></a>
  <div id="target-inner">
    <h2>CSS Modal</h2>
    <iframe 
    width="640" height="360" 
    src="https://www.youtube.com/embed/@Model.TrailerKey" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
</div>