@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styleLoginRegister.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>



<div class="row formContainerLog">
    <section>
        <form id="account" method="post">

            <h1> <div class="illustration">
                <i class="icon ion-ios-locked" style="color: #2980ef;"></i></div>
                @ViewData["Title"]
            </h1>

            <h2> Use a local account to log in.</h2>

            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="formcontrol" autocomplete="username" aria-required="true" placeholder="Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="formcontrol" autocomplete="current-password" aria-required="true" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-labelRemember">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="btn-primary">Log in</button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <!--
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
                -->
            </div>
            <button id="login-submit" type="submit" class="emptyButton">
                <div class="containerAnim">
	                <div class="loader">
		                <div class="line line--1"></div>
		                <div class="line line--2"></div>
	                </div>
                </div>
            </button>
        </form>
    </section>
</div>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
