@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/style.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/styleLoginRegister.css" asp-append-version="true" rel="stylesheet">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>


<div class="row formContainerReg">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h1> <div class="illustration">
            <i class="icon ion-ios-locked" style="color: #2980ef;"></i></div>
            @ViewData["Title"]
        </h1>

        <h2>Create a new account.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="formcontrol" autocomplete="username" aria-required="true" placeholder="Email"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.Password" class="formcontrol" autocomplete="new-password" aria-required="true" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input asp-for="Input.ConfirmPassword" class="formcontrol" autocomplete="new-password" aria-required="true" placeholder="Confirm password"/>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

        <button id="registerSubmit" type="submit" class="emptyButton">
                <div class="containerAnim">
	                <div class="loader">
		                <div class="line line--1"></div>
		                <div class="line line--2"></div>
	                </div>
                </div>
            </button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
