<!--PrivacyModel -->
@{
    ViewData["Title"] = "Home Page";
}
@section styles{
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/styleAbout.css" rel="stylesheet">
}

<h1>@ViewData["Title"]</h1>

<h2>Use this page to detail your site's privacy policy.</h2>

<h2>TODO: Add something about privacy idk</h2>
