<!--PrivacyModel -->
@{
    ViewData["Title"] = "Privacy Policy";
}
@section styles{	
	<link href="~/css/style.css" rel="stylesheet">
}
<style>
body{
    background-color: var(--main-bg-gray) !important; 
}
h1{
    position: relative;
    margin-top: 100px;
    text-align: center; 
    width: 100vw; 
    height: 10vh;
}
h2{
    position: relative;
    text-align: center; 
    width: 100vw; 
    margin:20px;
    height: 4vh;
}
</style>


<h1>
	@ViewData["Title"]
</h1>
<h2>
	Privacy Policy — A 2022 update! WE DO NOT STORE ANY DATA EXCEPT FOR PLAYLISTS.
</h2>
<h2>
    We physically can't. We have nowhere to store it. We don't even have a server database to store it.
</h2>
<h2>
    So even if MVR asked nicely to see your data, we wouldn't have anything to show them. 
</h2>
<h2>
    That's why, what happens in your account stays on your account
</h2>
